@model EntityLayer.Concrete.Message

@{
    ViewData["Title"] = "GetDetails";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>Get Details</h1>

    @Html.Label("Sender")
    @Html.TextBoxFor(x=> x.FromId, new {@class="form-control"})
    <br />
    @Html.Label("Subject")
    @Html.TextBoxFor(x=> x.Subject, new {@class="form-control"})
    <br />
    @Html.Label("Content")
    @Html.TextAreaFor(x=> x.Content,10,3, new {@class="form-control"})
    <br />
    <a class="btn btn-dark" href="/Message/Inbox/">Back To Messages</a>
