@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "GetBlogsOfWriter";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Created At</th>
        <th>Category</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Id</th>
            <td>@item.Title</td>
            <td>@item.CreatedAt.ToShortDateString()</td>
            <td>@item.Category.Name</td>
            <td>@item.Status</td>
            <td><a href="/Blog/Update/@item.Id" class="btn btn-warning">Edit</a></td>
            <td><a href="/Blog/Delete/@item.Id" class="btn btn-danger">Delete</a></td>
        </tr>
    }
</table>
<a href="/Blog/Add" class="btn btn-primary">Create New</a>
